@page "/usersingleton"

@implements IAsyncDisposable

@inject DBSingletonService DBSingletonService

<PageTitle>UserSingleton</PageTitle>

@try
{
    <table class="table">
        <thead>
            <tr>
                <th width="75">ID</th>
                <th width="150">Name</th>
                <th width="150">Password</th>
                <th width="150">Agency</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@DBSingletonService.Users.OrderBy(record => record.Name).AsQueryable().ToList()">
                <tr>
                    <td>@context.ID</td>
                    <td>@context.Name</td>
                    <td>@context.Password</td>
                    <td>@context.Agency</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}
catch (Exception e)
{
    Log.ForContext("Folder", "Portal").Error($"Portal UserSingletonPage.razor HTML() Exception: {e.Message}");
}

@code {
    protected override async Task OnInitializedAsync()
    {
        DBSingletonService.OnChangeTableUsers += async () =>
        {
            //TRACE
            // foreach (var record in DBSingletonService.Users.OrderBy(X => X.ID))
            // {
            //     Log.ForContext("Folder", DBSingletonService.Connection.ID).Information($"{record}");
            // }

            try
            {
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception e)
            {
                Log.ForContext("Folder", "Portal").Error($"Portal UserSingletonPage.razor OnChangeTableUsers() Exception: {e.Message}");
            }
        };

        await DBSingletonService.SendRequestData();
    }

    public async ValueTask DisposeAsync()
    {
        DBSingletonService.OnChangeTableUsers -= StateHasChanged;
    }
}
